MASTERCAM CONFIGURATION FILE

[UNITS]
1. File is metric? n
2. File version? 29.18
3. cfg version? 110

[TOLERANCES]
1000. System tolerance? 0.00005000000000000
1001. Chaining tolerance? 0.00010000000000000
1002. Planar chaining tolerance? 0.00200000000000000
1003. Minimum arc length? 0.00020000000000000
1004. Curve minimum step size? 0.00100000000000000
1005. Curve maximum step size? 100.00000000000000000
1006. Curve chordal deviation? 0.00100000000000000
1007. Maximum surface deviation? 0.00100000000000000
1008. Toolpath tolerance? 0.00010000000000000
1009. Chaining tangency tolerance? 0.08726646259971645
1010. Mesh tolerance? 0.00100000000000000
1011. Turning tessellation tolerance? 0.00100000000000000

[FILES]
2007. Include preview image in file when saving? y
2008. Prompt for file descriptor when saving? n
2009. Delete duplicate entities in File, Open? n
2010. Restore entire toolpath data in File, Open? y
2011. Number of files/folders to show in MRU fields? 10
2012. Block library? 
2019. Use default Data paths? n
2020. Default file open type? -1
2101. ASCII files (txt, csv, doc)? <APP_DIR_USER>data\
2102. Batch files (bch)? <APP_DIR_USER>batch\
2103. Cadkey CADL files (cdl)? <APP_DIR_USER>data\
2105. CATIA V5 files (catpart, catproduct)? <APP_DIR_USER>data\
2106. Mastercam Add-Ins (dll, csx)? <APP_DIR_INSTALL>chooks\
2107. AutoCAD Files (dwg, dxf, dwf)? <APP_DIR_USER>data\
2109. Mastercam Parts (mcam, emcam)? <APP_DIR_USER>Parts\
2110. IGES files (igs, iges)? <APP_DIR_USER>data\
2111. Parasolid files (x_t, x_b, xmt_txt)? <APP_DIR_USER>data\
2112. ProE/Creo files (prt, asm)? <APP_DIR_USER>data\
2113. Regen files (rgn)? <APP_DIR_TEMP_ROOT>regen\
2114. Rhino files (3dm)? <APP_DIR_USER>data\
2115. ACIS Kernel SAT files (sat, sab)? <APP_DIR_USER>data\
2116. STEP files (stp, step, stpnc)? <APP_DIR_USER>data\
2117. STL files (stl)? <APP_DIR_USER>data\
2118. Temporary files root? <WINTEMPDIR>
2119. Unigraphics files (prt)? <APP_DIR_USER>data\
2120. VB Scripts (vbs)? <APP_DIR_SHARED>VB\
2121. VDA files (vda)? <APP_DIR_USER>data\
2122. Parameter files (prm)? <APP_DIR_SHARED>common\prm\
2123. Backup files (Mastercam format)? <APP_DIR_USER>Parts\
2124. Edit/Open External Files (* *)? 
2125. SOLIDWORKS files (sldprt, sldasm)? <APP_DIR_USER>data\
2126. SOLIDWORKS Drawing Files (slddrw)? <APP_DIR_USER>data\
2127. Solid Edge files (par, psm, asm)? <APP_DIR_USER>data\
2128. Autodesk Inventor files (ipt, iam)? <APP_DIR_USER>data\
2129. Autodesk Inventor Drawing Files (idw)? <APP_DIR_USER>data\
2130. PostScript files (eps, ai, ps)? <APP_DIR_USER>data\
2131. HPGL Plotter files (plt)? <APP_DIR_USER>data\
2132. mc9 Files (mc9)? <APP_DIR_USER>Parts\
2133. MC8 Files (MC8)? <APP_DIR_USER>Parts\
2134. KeyCreator Files (ckd)? <APP_DIR_USER>data\
2135. SpaceClaim Files (scdoc)? <APP_DIR_USER>data\
2136. Alibre Design Files (ad_prt, ad_smp)? <APP_DIR_USER>data\
2137. Mastercam Previous X Version Parts (mcx-9, mcx-8, mcx-7, mcx, emcx-8, emcx-7, emcx)? <APP_DIR_USER>Parts\
2138. Mill Formula Files ( Formula)? <APP_DIR_SHARED>Mill\Formula\
2139. 3D Manufacturing Format files (3mf)? <APP_DIR_USER>data\
2140. Siemens JT files (jt)? <APP_DIR_USER>data\
2141. Dassault 3DXML files (3dxml)? <APP_DIR_USER>data\
2142. Wavefront OBJ files (obj)? <APP_DIR_USER>data\
2143. Additive Manufacturing files (amf)? <APP_DIR_USER>data\
2144. Adobe PDF files (pdf)? <APP_DIR_USER>data\
2145. SketchUp files (skp)? <APP_DIR_USER>data\
2146. GDML files (gdml)? <APP_DIR_USER>data\
2150. Apply last machine definition? y
2151. FBM Tool Table Files? <APP_DIR_SHARED>common\fbm\
2152. My Mastercam Folder? <APP_DIR_USER>
2153. Shared Mastercam Folder? <APP_DIR_SHARED>
2154. 3rd Party Add-Ins (dll, csx)? <APP_DIR_SHARED>add-ins\
2155. Prompt to open PDFs when extracting content files? y
2202. Mill NC programs (nc)? <APP_DIR_USER>Mill\NC\
2203. Mill Toolpaths (nci)? <APP_DIR_USER>Mill\NCI\
2212. Lathe NC programs (nc)? <APP_DIR_USER>Lathe\NC\
2213. Lathe Toolpaths (nci)? <APP_DIR_USER>Lathe\NCI\
2222. Router NC programs (nc)? <APP_DIR_USER>Router\NC\
2223. Router Toolpaths (nci)? <APP_DIR_USER>Router\NCI\
2232. Wire NC programs (nc)? <APP_DIR_USER>Wire\NC\
2233. Wire Toolpaths (nci)? <APP_DIR_USER>Wire\NCI\
2301. Mill Tool Library? <APP_DIR_SHARED>Mill\Tools\Mill_Inch.tooldb
2302. Mill Operation Library? <APP_DIR_SHARED>Mill\Ops\Mill_Inch.mcam-operations
2303. Mill Defaults Library? <APP_DIR_SHARED>Mill\Ops\Mill_Inch.mcam-defaults
2304. Mill Material Library? <APP_DIR_SHARED>Materials\Default.mcam-materials
2305. Mill Post Processor (PST)? <APP_DIR_SHARED>Mill\Posts\MPFan.pst
2306. Mill Post Processor (EXE)? <APP_DIR_INSTALL>Apps\MP.dll
2307. Mill Setup Sheet Template? <APP_DIR_SHARED>Mill\Posts\Mill.set
2351. Lathe Tool Library? <APP_DIR_SHARED>Lathe\Tools\Lathe_Inch.tooldb
2352. Lathe Operation Library? <APP_DIR_SHARED>Lathe\Ops\Lathe_Inch.mcam-operations
2353. Lathe Defaults Library? <APP_DIR_SHARED>Lathe\Ops\Lathe_Inch.mcam-defaults
2354. Lathe Material Library? <APP_DIR_SHARED>Materials\Default.mcam-materials
2355. Lathe Post Processor (PST)? <APP_DIR_SHARED>Lathe\Posts\MPLFan.pst
2356. Lathe Post Processor (EXE)? <APP_DIR_INSTALL>Apps\MP.dll
2357. Lathe Setup Sheet Template? <APP_DIR_SHARED>Lathe\Posts\Lathe.set
2401. Router Tool Library? <APP_DIR_SHARED>Router\Tools\Router_Inch.tooldb
2402. Router Operation Library? <APP_DIR_SHARED>Router\Ops\Router_Inch.mcam-operations
2403. Router Defaults Library? <APP_DIR_SHARED>Router\Ops\Router_Inch.mcam-defaults
2404. Router Material Library? <APP_DIR_SHARED>Materials\Router.mcam-materials
2405. Router Post Processor (PST)? <APP_DIR_SHARED>Router\Posts\MPRouter.pst
2406. Router Post Processor (EXE)? <APP_DIR_INSTALL>Apps\MP.dll
2407. Router Setup Sheet Template? <APP_DIR_SHARED>Router\Posts\Router.set
2451. Wire Power Library? <APP_DIR_SHARED>Wire\Power\Wire_Inch.power
2452. Wire Operation Library? <APP_DIR_SHARED>Wire\Ops\Wire_Inch.mcam-operations
2453. Wire Defaults Library? <APP_DIR_SHARED>Wire\Ops\Wire_Inch.mcam-defaults
2454. Wire Material Library? <APP_DIR_SHARED>Materials\Default.mcam-materials
2455. Wire Post Processor (PST)? <APP_DIR_SHARED>Wire\Posts\MPWFanuc.pst
2456. Wire Post Processor (EXE)? <APP_DIR_INSTALL>Apps\MP.dll
2457. Wire Setup Sheet Template? <APP_DIR_SHARED>Wire\Posts\Wire.set
2501. Default Component Library? <APP_DIR_SHARED>CNC_Machines\All Components.mcam-gmd
2502. Default Control Definition? <APP_DIR_SHARED>CNC_Machines\Default.mcam-control

[AUTOSAVE / BACKUP]
24000. AutoSave? n
24001. Interval (in minutes)? 60
24002. File name? <APP_DIR_USER>Parts\T.mcam
24003. Save using active file name? y
24004. Overwrite existing file name? n
24005. Prompt before saving file? y
24006. Save after every operation? n
24007. Mastercam Backup Files? n
24008. Delimiter? (((@)))
24009. Start? 100
24010. Increment? 1
24011. Max Limit? 10
24012. Use backup directory as defined in Files? y
24013. Disable dirty solids warnings? n

[CONVERTERS]
3000. Edge curves? n
3001. Attempt to heal solids? n
3002. Untrimmable surface level? 10000
3003. Solids? y
3004. Save as Parasolid? 360
3006. ASCII file entity creation? 0
3008. Break DWG/DXF drafting entities? n
3009. Use IGES file's tolerance values? n
3010. IGES unit conversion? y
3011. Use surface stitching to import solids? n
3012. ASCII? n
3013. Resolution? 0.00100000000000000
3014. Coordinates? n
3015. Save as AutoCAD? 0
3016. Import datum entities from ProE/Creo files? n
3017. Import solids history from SOLIDWORKS files? n
3018. Import Mastercam toolpaths from SOLIDWORKS files? y
3019. STL import entities? n
3020. Use system color for imported solids? n
3022. Assign level names to match solid names? y
3023. Save as STEP? 1
3025. Units? 0
3026. Import hidden entities? y
3027. Open 3D PDF file after saving? n
3028. Create hole operations? n
3029. Make wireframe at machine axes from GDML files? y
3030. View details of GDML files in text editor? n

[SCREEN]
4026. Zoom Factor? 0.06250000000000000
4027. Unzoom Factor? 0.06250000000000000
4028. Pan Factor? 0.06250000000000000
4032. Level name? n
4052. Toolpaths? y
4054. Overlay controls opacity? 33
4058. Unit/scale? y
4059. Gview gnomon scale? 1.00000000000000000
4060. Corner gnomons size? 1.60000000000000009
4061. Display text size? 1.00000000000000000
4063. Cube opacity? 100
4064. Rotation button increment (degrees)? 15.00000000000000000
4065. Cube text size? 1.00000000000000000
4066. Gview cube scale? 1.60000000000000009
4070. EnableDialogModality? y

[GRID]
23002. Snap? 2
23003. X? 0.25000000000000000
23004. Y? 0.25000000000000000
23005. X? 0.00000000000000000
23006. Y? 0.00000000000000000
23007. Size? 25.00000000000000000

[ANALYZE]
29000. Precision for Analyze Measurements Fractions? 5
29001. Precision for Analyze Measurements? 4
29002. Units for Analyze Measurements? 1
29003. Number of places after decimal for analyze? 4
29004. Display full value tooltip? y

[COLORS]
5000. Auto-highlight? 15
5001. System origin? 156
5002. Construction origin? 10
5006. Edge motion? 9
5007. Background (gradient start)? 111
5009. Background gradient end? 15
5026. Live entity? 39
5030. Raw cut motion? 8
5032. Grid? 8
5033. Selection? 14
5034. Solid selected edge? 9
5035. Solid selected face loop? 12
5037. Surface motion? 12
5038. Tool origin? 11
5041. Direction? 1
5045. Toolpath feed motion? 159
5046. Toolpath rapid retract motion? 14
5050. Calculable field? 18
5051. Mask only on? 12
5055. Plane? 1
5056. WCS origin? 4
5057. Chain preview material region? 226
5058. Chain preview motion region? 208
5059. Chain preview tool containment? 55
5060. Chain preview material crosshatch? 0
5066. Selection window? 197
5075. Use gradient background? y
5076. Chain? 14
5077. Chain highlight? 15
5085. Single-axis plane? 15
5086. Lathe solid chain profile? 39

[CHAINING]
6000. Zigzag? y
6001. Direction for closed chains? 1
6002. Use cursor position? y
6003. Ignore depths (in 3D mode)? n
6004. Infinite nesting in area chains? n
6005. Reverse inner chains? n
6006. Nested chains? 0
6007. Break entities in Dynamic? n
6008. Sync mode? 1
6009. Set start of chain from point entities? n
6010. Break closest entity to thread point? n
6011. Section angle? 29.99999999999996447
6012. Open chains? y
6013. Closed chains? y
6015. Plane mask in chaining? n
6016. Ignore depths in 3D chaining? n
6017. Section angle? n
6018. Use color masking? n
6019. Use level masking? n
6024. Prompt for window start point? y
6025. Use entity masking? n
6026. Allow surface edges in single mode? n
6027. Spin? n
6028. Upper? 1
6029. Small? 2
6030. Translucent? n
6031. Line style? 2
6032. Line width? 1.00000000000000000
6033. Default to last used? y
6034. Cplane? n
6035. Chain? 1
6036. Wait? n
6037. In? 1
6038. Edges? 1
6039. Face? 1
6040. Options? 0
6800. Identical? 0
6801. Shape Perimeter filter? 0
6802. Scaled Shapes? 0
6803. Attribute Matching? 0
6804. Color? 0
6805. Level? 0
6806. View? 0
6807. Style? 0
6808. Width? 0
6809. Match Color? 1
6810. Match Level? 1
6811. Line Style? 1
6812. Line Width? 1
6813. Recognize mirrored shapes? 0
6814. All? 0

[SHADING]
7004. Chord height? 0.00100000000000000
7146. Lighting mode? 0
7147. Show computed edges? y
7148. Edge angle tolerance? 28.00000000000000000
7149. Show hidden edges as dashed? n
7150. Dimmed wireframe opacity? 25
7151. Section view cap opacity? 192
7152. Translucency opacity? 168
7154. Glass opacity? 168

[SOLIDS]
8000. Add new operations before trailing toolpath operations? y
8001. Use Auto-Highlight in Solids Manager? y
8002. Use all visible surfaces? y
8003. Edge tolerance? 0.00500000000000000
8004. Use main level? y
8005. Level number? 1000
8006. Original surface? 2
8022. Tessellation? 5
8024. Hidden dim factor? 66
8025. Hidden color? 10
8026. Color? 10
8028. Radial angle (in degrees)? 60.00000000000000000
8029. Omit smooth edges? n
8030. Omit internal edges? n
8031. Use surface colors? y
8032. Line style? 2
8033. Line width? 1.00000000000000000
8034. Solid preview on by default? y
8035. Solid no history on by default? n
8036. Use Body-Highlight in Solids Manager? y
8037. Unblank parent surfaces? y
8038. Check solid fillets? y

[PRINTING]
9001. Color? y
9002. Name/Date? n
9003. Line width? 0
9004. Uniform line width? 1
9005. Color? 0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29
9006. Line width? 1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
9007. Dashed line scaling? 100
9008. Screen Information? y

[CAD]
10000. Line style? 1
10001. Line width? 1.00000000000000000
10002. Point style? 1
10003. Type of center line? 0
10004. Color? y
10005. Color? 10
10006. Level? y
10007. Level? 1
10008. Style? n
10009. Style? 3
10010. % of diameter? y
10011. % of diameter? 125.00000000000000000
10012. Fixed length? 1.00000000000000000
10013. Spline/surface creation type? y
10014. Spline/surface creation type? 2
10015. Surface drawing density? 1
10019. Check for duplicate entities (slower)? n
10021. Check for duplicate entities (slower)? 0
10022. IGES Dump? 0
10023. IGES Dump  Start? 1
10024. Copious Data to Geometry? y
10025. IGES cr lf? y
10026. Preview? y
10027. Maintain? y
10029. Entity Attributes Manager Active? n
10030. Entity Attributes Manager Active in File-Open? n
10031. Enable trim preview? y
10041. Points - Use Level? n
10042. Points - Level? 1
10043. Points - Use Color? n
10044. Points - Color? 1
10045. Points - Use Style? n
10046. Points - Style? 1
10047. Points - Use Width? n
10048. Points - Width? 1
10051. Lines - Use Level? n
10052. Lines - Level? 1
10053. Lines - Use Color? n
10054. Lines - Color? 1
10055. Lines - Use Style? n
10056. Lines - Style? 1
10057. Lines - Use Width? n
10058. Lines - Width? 1
10061. Arcs - Use Level? n
10062. Arcs - Level? 1
10063. Arcs - Use Color? n
10064. Arcs - Color? 1
10065. Arcs - Use Style? n
10066. Arcs - Style? 1
10067. Arcs - Use Width? n
10068. Arcs - Width? 1
10071. Parametric Splines - Use Level? n
10072. Parametric Splines - Level? 1
10073. Parametric Splines - Use Color? n
10074. Parametric Splines - Color? 1
10075. Parametric Splines - Use Style? n
10076. Parametric Splines - Style? 1
10077. Parametric Splines - Use Width? n
10078. Parametric Splines - Width? 1
10081. NURBS curves - Use Level? n
10082. NURBS curves - Level? 1
10083. NURBS curves - Use Color? n
10084. NURBS curves - Color? 1
10085. NURBS curves - Use Style? n
10086. NURBS curves - Style? 1
10087. NURBS curves - Use Width? n
10088. NURBS curves - Width? 1
10091. Surface curves - Use Level? n
10092. Surface curves - Level? 1
10093. Surface curves - Use Color? n
10094. Surface curves - Color? 1
10095. Surface curves - Use Style? n
10096. Surface curves - Style? 1
10097. Surface curves - Use Width? n
10098. Surface curves - Width? 1
10101. Surfaces - Use Level? n
10102. Surfaces - Level? 1
10103. Surfaces - Use Color? n
10104. Surfaces - Color? 1
10105. Surfaces - Use Style? n
10106. Surfaces - Style? 1
10107. Surfaces - Use Width? n
10108. Surfaces - Width? 1
10111. Notes/Labels - Use Level? n
10112. Notes/Labels - Level? 1
10113. Notes/Labels - Use Color? n
10114. Notes/Labels - Color? 1
10115. Notes/Labels - Use Style? n
10116. Notes/Labels - Style? 1
10117. Notes/Labels - Use Width? n
10118. Notes/Labels - Width? 1
10121. Leaders/Witness - Use Level? n
10122. Leaders/Witness - Level? 1
10123. Leaders/Witness - Use Color? n
10124. Leaders/Witness - Color? 1
10125. Leaders/Witness - Use Style? n
10126. Leaders/Witness - Style? 1
10127. Leaders/Witness - Use Width? n
10128. Leaders/Witness - Width? 1
10131. Dimensions - Use Level? n
10132. Dimensions - Level? 1
10133. Dimensions - Use Color? n
10134. Dimensions - Color? 1
10135. Dimensions - Use Style? n
10136. Dimensions - Style? 1
10137. Dimensions - Use Width? n
10138. Dimensions - Width? 1
10141. Cross Hatches - Use Level? n
10142. Cross Hatches - Level? 1
10143. Cross Hatches - Use Color? n
10144. Cross Hatches - Color? 1
10145. Cross Hatches - Use Style? n
10146. Cross Hatches - Style? 1
10147. Cross Hatches - Use Width? n
10148. Cross Hatches - Width? 1
10151. Copious Data - Use Level? n
10152. Copious Data - Level? 1
10153. Copious Data - Use Color? n
10154. Copious Data - Color? 1
10155. Copious Data - Use Style? n
10156. Copious Data - Style? 1
10157. Copious Data - Use Width? n
10158. Copious Data - Width? 1
10161. Solids - Use Level? n
10162. Solids - Level? 1
10163. Solids - Use Color? n
10164. Solids - Color? 1
10165. Solids - Use Style? n
10166. Solids - Style? 1
10167. Solids - Use Width? n
10168. Solids - Width? 1
10171. Meshes - Use Level? n
10172. Meshes - Level? 1
10173. Meshes - Use Color? n
10174. Meshes - Color? 1
10175. Meshes - Use Style? n
10176. Meshes - Style? 1
10177. Meshes - Use Width? n
10178. Meshes - Width? 1

[DIMENSION ATTRIBUTES]
11000. Angular? 0
11001. DIN character? 72
11002. Tolerance? n
11003. DIN value? 7
11004. Center text between arrowheads? n
11005. Comma? n
11006. Format? 0
11007. Tolerance? 0
11008. Tolerance? 0
11009. Diameter? 0
11010. Scale? 1.00000000000000000
11011. Fractional units? 0
11012. Leading zeroes? y
11013. DIN character? 72
11014. Tolerance? n
11015. DIN value? 7
11016. Lower? -0.00050000000000000
11017. Lower? -0.00050000000000000
11018. Decimal places? 3
11019. Decimal places? 2
11020. Upper? 0.00050000000000000
11021. Upper? 0.00050000000000000
11022. Radius? 0
11023. Trailing zeroes? y

[DIMENSION TEXT (LEGACY)]
12000. Aspect ratio? 0.84999999999999998
12001. Rotation? 0.00000000000000000
12002. Display in SmartMode? n
12004. Text orientation? 1
12005. Text height? 0.25000000000000000
12006. Extra char spacing? 0.20000000000000001
12007. Font? 8
12008. Display negative sign? n
12009. Absolute? n
12010. Point dimension label? y
12011. Point dimension 3D? y
12012. Angle? 0.00000000000000000
12013. Lines? 0
12014. Path? 0
12015. Slant? 0.00000000000000000
12016. Tolerance height? 0.12500000000000000
12017. Factors? 1.00000000000000000
12018. Factors? 0.33300000000000002
12019. Factors? 0.50000000000000000
12020. Factors? 0.37500000000000000
12021. Factors? 0.50000000000000000
12022. Spacing? 1
12024. Font name? OLF SimpleSansCJK OC
12025. Font italics? n
12026. Font bold? n
12027. Use factors? y
12028. Single coordinate display? 0
12029. Charset? 1

[DIMENSION TEXT]
12501. FontName? OLF SimpleSansCJK OC
12502. FontNumber? 8
12503. Expansion? 1.00000000000000000
12504. ExtraChar? 1.00000000000000000
12505. ExtraLine? 1.00000000000000000
12506. Bold? n
12507. Italic? n
12508. Underline? n
12509. Fill? n
12510. Box? n
12511. Justification? 0
12512. Charset? 1

[NOTE TEXT (LEGACY)]
13000. Extra line spacing? 0.75000000000000000
13001. Extra char spacing? 0.20000000000000001
13002. Horizontal? 0
13003. Mirror? 0
13004. Aspect ratio? 0.84999999999999998
13005. Rotation? 0.00000000000000000
13006. Font? 8
13007. Lines? 0
13008. Path? 0
13009. Slant? 0.00000000000000000
13010. Spacing? 1
13011. Text height? 0.25000000000000000
13012. Vertical? 2
13013. Factors? 1.00000000000000000
13014. Factors? 0.33300000000000002
13016. Font name? OLF SimpleSansCJK OC
13017. Font italics? n
13018. Font bold? n
13019. Angle? 0.00000000000000000
13020. Use factors? y
13021. Charset? 1

[NOTE TEXT]
13501. FontName? OLF SimpleSansCJK OC
13502. FontNumber? 8
13503. Expansion? 1.00000000000000000
13504. ExtraChar? 1.00000000000000000
13505. ExtraLine? 1.00000000000000000
13506. Bold? n
13507. Italic? n
13508. Underline? n
13509. Fill? n
13510. Box? n
13511. Justification? 0
13512. Factors? 0.84999999999999998
13513. Factors? 0.75000000000000000
13514. Witness extension? 0.21249999999999999
13515. Witness gap? 0.18750000000000000
13516. RestoreText? n
13517. Charset? 1

[LEADERS / WITNESS]
14000. Dimension arrow height? 0.25000000000000000
14001. Dimension arrow width? 0.08330000000000000
14002. Arrow direction? n
14003. Style? 0
14004. Visible leaders? 3
14005. Leader style? n
14006. Style? 0
14007. Visible witness lines? 3
14008. Note arrow height? 0.25000000000000000
14009. Note arrow width? 0.08330000000000000
14010. Apply to ordinate dimensions? y
14011. Add tail to angular leaders? n
14012. Witness extension? 0.12500000000000000
14013. Witness gap? 0.25000000000000000

[SETTINGS]
15000. Baseline increments? y
15001. X? 0.25000000000000000
15002. Y? 0.25000000000000000
15003. Associate dimensions, labels, leaders and witness lines with the geometry selected during their creation? y
15004. Associativity rules for the entire drawing? 0
15005. Automatic? y
15006. Mark regenerated entities as System Result? n
15007. Entity view equals graphics view? y
15008. Greeking enabled? y

[START / EXIT]
16000. Language? 0
16002. Default Mastercam file name? T
16006. Editor? MASTERCAM
16008. Construction plane? 0
16009. Construction plane? y
16010. Startup? None
16011. Exit? None
16012. Default? FINDOVERLAP.dll
16013. Limit the number of Undo events? n
16014. Number of events? 100
16015. Not to exceed this size? 10
16016. Prompt when exiting? y
16017. Startup product? 3

[TOOLPATHS]
17007. Keep regen files larger than (MB)? 1
17008. Keep regen files not older than (days)? 7
17009. Keep regen files that took more  time to create than (minutes)? 5
17010. Delete regen files on exit? y
17011. Keep regen files larger than (MB)? n
17012. Keep regen files not older than (days)? y
17013. Keep regen files that took more  time to create than (minutes)? n
17014. Suppress associativity warning messages? n
17015. Use existing tools when importing operations? y
17016. Display surface/plane intersections? n
17017. CAD file? n
17018. Containment? 0
17019. Toolpath/surface selection? 1
17020. Memory buffering? 50
17023. Show toolpath/surface selection dialog? 1
17024. Enable 'Change at Point' during path creation? y
17025. Automatically calculate HST defaults? y
17026. Enable Multi-threading? y
17027. Lock Feedrates? y
17028. Get defaults from previous operation? y
17031. Generate toolpath for new operations? y
17032. Generate toolpath for existing operations? y
17033. Include comments? n
17034. Draw stop/info/regs symbols? y
17035. Draw thread/cut symbols? y
17036. Report toolpath error messages? 1

[POST DIALOG DEFAULTS]
18000. NCI file? n
18001. Overwrite? n
18002. Edit? n
18003. NC file? y
18004. Overwrite? n
18005. Edit? y
18006. Send to machine? n
18007. Output part file descriptor? n
18008. Export operations list? n
18009. Export parameters? n
18010. Tplanes relative to WCS? y
18011. NC extension? .nc
18016. Select origin? n

[BACKPLOT]
19000. Appearance? 2
19001. Backplot tool material on? n
19002. Backplot tool color? 102
19003. Backplot tool material? 0
19004. Backplot tool as-defined? y
19005. Backplot spin tool? n
19006. Backplot holder material on? n
19007. Backplot holder color? 12
19008. Backplot holder material? 0
19010. By operation? n
19011. Use Verify color? n
19013. Rapid color? 14
19014. Linear feed color? 159
19015. CW Arc feed color? 159
19016. CCW Arc feed color? 159
19017. Verify color? 138
19018. 4-5 Axis vector color? 11
19019. 4-5 Axis tool vectors? n
19020. Connect Bottom? y
19021. Connect Top? n
19022. Shade? n
19023. Length? y
19024. Length? 1.00000000000000000
19025. Fast steps/sec? 10
19026. Operation change? n
19027. Tool change? n
19028. Fit Toolpath? n
19029. Simulate Cutter Compensation? y
19030. Show Mill / Router Home Position? n
19031. Simulate Axis Substitution? y
19032. Simulate Rotary Axis? n
19033. Toggles? 0
19034. Interpolate? n
19035. Step increment? 0.05000000000000000
19036. Speed? 60
19037. Show Lathe Home Position? y
19038. Show C-Axis tools in top orientation? n
19039. Active Tools? 0.50000000000000000
19040. Inactive Tools? 0.50000000000000000
19041. Shaded? 0
19042. Simulate Disabled Posting? n

[WIRE BACKPLOT]
20001. By pass? 0
20003. Rapid color? 14
20004. XY Linear feed color? 11
20005. XY CW Arc feed color? 11
20006. XY CCW Arc feed color? 11
20007. UV Linear feed color? 13
20008. UV CW Arc feed color? 13
20009. UV CCW Arc feed? 13
20010. Fast steps/sec? 10
20011. Each pass? n
20012. Each operation? n
20013. Fit Wirepath? n
20014. Simulate Wire Compensation? y
20015. Show move from Start position? y
20016. Toggles? 0
20017. Endpoints? n
20018. Step increment? 0.05000000000000000
20019. Speed? 60
20020. Show wire comp vectors? n
20021. Comp Vector color? 26
20022. Display UV motion? y
20023. Display XY-UV connectors? y
20024. Wire color? 15
20025. Appearance? 2
20026. Material? n
20027. Guide color? 12
20028. Material? 0
20029. Opacity  - Active? 0.50000000000000000
20030. Offset path color? 86
20031. XY-UV connector color? 7

[COMMUNICATIONS]
27000. Comm  default? 0
27001. Handshaking? 1
27002. Baud rate? 9600
27003. EOL delay? 0000000000000001File
27004. Override Control Definition communications settings? n
27005. Format? 65
27006. Parity? 78
27007. Port? 1
27008. Data bits? 8
27009. Stop bits? 1
27010. Strip carriage return? n
27011. Strip line feed? n
27012. Echo terminal emulation? y
27013. Display to screen? n
27014. DOS communications mode? n

[TOOLPATH MANAGER]
22000. Machine Group - Prompt? 0
22001. Machine Group? 2
22002. Machine Group? Machine Group
22003. Machine Group - Delimiter? (((-)))
22004. Machine Group - Increment start? 1
22005. Machine Group - Increment value? 1
22006. Toolpath Group - Prompt? 0
22007. Toolpath Group? 2
22008. Toolpath Group? Toolpath Group
22009. Toolpath Group - Delimiter? (((-)))
22010. Toolpath Group - Increment start? 1
22011. Toolpath Group - Increment value? 1
22012. NC File - Prompt? 0
22013. NC File? 0
22014. NC File? 3
22015. NC File? NC Group
22016. NC File? 0
22017. NC File - Delimiter? (((-)))
22018. NC File - Increment start? 1
22019. NC File - Increment value? 1

[DEFAULT MACHINES]
25000. Mill Machine Definition? <APP_DIR_SHARED>CNC_Machines\Mill Default.mcam-mmd
25001. Lathe Machine Definition? <APP_DIR_SHARED>CNC_Machines\Lathe Default.mcam-lmd
25002. Router Machine Definition? <APP_DIR_SHARED>CNC_Machines\Router Default.mcam-rmd
25003. Wire Machine Definition? <APP_DIR_SHARED>CNC_Machines\Wire Default.mcam-wmd

[SIMULATOR]
26000. Curve tolerance (inch)? 0.00100000000000000
26001. Curve tolerance (mm)? 0.02500000000000000
26002. STL mesh tolerance (inch)? 0.00100000000000000
26003. STL mesh tolerance (mm)? 0.02500000000000000
26004. Workpiece tolerance (inch)? 0.00200000000000000
26005. Workpiece tolerance (mm)? 0.05000000000000000
26006. Tool change at home position? n
26007. Skip drill pecking cycle? n
26008. Do ghosted ops? n
26009. Go to home position on toolplane change? n
26010. Default machine name? 5AxHeadHead
26013. Disable GPU processing? n

[VIEWSHEET]
30000. 2D / 3D? y
30001. Gview? y
30003. Tool plane? y
30004. Construction plane? y
30005. Z depth? y
30006. WCS? y
30007. Colors? y
30008. Active level? y
30009. Line style? y
30010. Point style? y
30011. Line width? y
30012. Surface density? y
30014. Automatically restore bookmark settings? y
30015. Section view planes? y
30016. Selected planes? y
30017. Section view settings? n
30018. Advanced toolpath display settings? n
30019. Stock display? y
30020. Display mode? n
30021. Motion controller rotation position? y
30022. Displayed planes? y

[REPORTS]
31000. SETUP SHEET (MILL)? SETUP SHEET (MILL)
31001. SETUP SHEET (LATHE)? SETUP SHEET (LATHE)
31002. SETUP SHEET (ROUTER)? SETUP SHEET (ROUTER)
31003. SETUP SHEET (WIRE)? SETUP SHEET (WIRE)
31004. DEFAULT NESTING REPORT? DEFAULT NESTING REPORT
31005. DEFAULT ATP REPORT? DEFAULT ATP REPORT
31006. TOOL LIST (MILL-SIMPLE)? TOOL LIST (MILL-SIMPLE)
31007. TOOL LIST (MILL-DETAILED)? TOOL LIST (MILL-DETAILED)
31008. TOOL LIST (LATHE-SIMPLE)? TOOL LIST (LATHE-SIMPLE)
31009. TOOL LIST (LATHE-DETAILED)? TOOL LIST (LATHE-DETAILED)
31010. MATERIAL LIST? MATERIAL LIST
31011. TOOL LIST (MILL-OPMGR)? TOOL LIST (MILL-OPMGR)
31012. TOOL LIST (LATHE-OPMGR)? TOOL LIST (LATHE-OPMGR)
31013. SETUP SHEET (MT)? SETUP SHEET (MT)
31014. TOOL LIST (OPMGR)? TOOL LIST (OPMGR)
31015. TOOL LIST (ROUTER-SIMPLE)? TOOL LIST (ROUTER-SIMPLE)
31016. TOOL LIST (ROUTER-DETAILED)? TOOL LIST (ROUTER-DETAILED)
31017. TOOL LIST (ROUTER-OPMGR)? TOOL LIST (ROUTER-OPMGR)
31020. Reports Folder? <APP_DIR_SHARED>Common\Reports\
31021. Setup Sheet program? ActiveReports

[GENERAL]
32000. Integer? 1
32001. Floating point? 0.10000000000000001
32002. Angular? 1
32003. Integer? 1
32004. Floating point? 1.00000000000000000
32005. Angular? 1
32006. Number of items in the data fields? 10
32007. Include immediate mode functions? y
32008. Number of functions in the Recent Functions manager? 10

[VIEW]
33001. Number of entities for dynamic rotation? 10000
33002. Use 'free' mode in dynamic rotation? y
33003. Snap to views in dynamic rotation? n
33004. Snap tolerance (degrees)? 25.00000000000000000
33005. Motion controller velocity? 0.29999999999999999
33006. Animate view transitions? y
33007. Animate zoom fits? y
33008. Animation Delay? 2
33009. Middle button/wheel? n
33010. Reverse wheel? n
33011. Rotation factor (degrees)? 5.00000000000000000

[ADVANCED TOOLPATH DISPLAY]
34001. Rapid retract motion? 14
34002. Rapid motion line style? 0
34003. Rapid motion line thickness? 1
34004. Cutting motion? 159
34005. Cutting motion line style? 0
34006. Cutting motion line thickness? 1
34007. Plunge motion? 88
34008. Plunge motion line style? 0
34009. Plunge motion line size? 1
34010. Feed retract motion? 143
34011. Retract motion line style? 0
34012. Retract motion line thickness? 1
34013. Entry motion? 88
34014. Entry motion line style? 0
34015. Entry motion line thickness? 1
34016. Exit motion? 224
34017. Exit motion line style? 0
34018. Exit motion line thickness? 1
34019. Microlift motion? 149
34020. Microlift motion line style? 0
34021. Microlift motion line thickness? 1
34022. Transition motion? 235
34023. Transition motion line style? 0
34024. Transition motion line thickness? 1
34025. Dirty toolpath motion? 0
34026. Dirty toolpath line style? 0
34027. Dirty toolpath line thickness? 1
34151. Vectors? 152
34152. Vectors line style? 1
34154. Vectors line thickness? 1
34155. Arc midpoints? 93
34156. Midpoint scale? 2
34157. Endpoints? 78
34158. Endpoint scale? 2
34159. Vectors scale? 1.00000000000000000
34160. Drill tool diameter line width? 1
34161. Drill tool diameter line style? 1
34162. Tool contact point? 49
34163. Tool contact point line style? 0
34164. Tool contact point line thickness? 1

[TOOLS AND HOLDERS]
35001. Lathe 3D insert? 55
35002. Lathe 3D holder? 7
35003. Lathe - Bad stock? 144
35004. Lathe - Chuck? 109
35005. Lathe - Holder? 116
35006. Lathe - Insert down? 138
35007. Lathe - Insert up? 14
35008. Lathe - Steady rest? 40
35009. Lathe - Stock? 103
35010. Lathe - Tailstock? 178
35011. Mill - Imported tool cutting? 3
35012. Mill - Tool cutting? 55
35013. Mill - Tool holder? 162
35014. Mill - Tool shank? 156
35015. Mill - Tool shoulder? 103
35016. Mill and Router - Safety zone? 5
35017. Mill and Router - Stock display? 12
35018. Mill and Router - Stock? 134
35019. Tool assembly shaded? y
35020. Tool assembly opacity? 0.10000000000000001

[SIMULATION DISPLAY]
36001. Collision? 12
36002. Fixtures? 159
36003. Section? 61
36004. Master Model? 152

[GEOMETRY DISPLAY]
46001. Arc Center Points? 93
46002. Endpoints? 15
46004. Default groups? 12
46005. Draft dirty? 4
46006. Draft phantom? 8
46007. Group? 12
46009. Mesh? 21
46010. Mesh backside? 65
46011. Mesh edge? 0
46012. Remainder? 15
46013. Result? 13
46014. Solids? 8
46015. Surface backside? 65
46016. Surface edge? 0
46017. Surface front face? 136
46018. Wireframe geometry? 1
46019. Solid edge? 0
46020. Endpoints size? 2.50000000000000000
46021. Arc center points size? 2.50000000000000000
46022. Use Group and Result color in Transform? y
46023. Group colors? n
46024. Hole segment mixed selection? 94
46025. Hole segment selected? 20
46026. Hole segment unselected? 137

[SELECTION]
37001. Origin? y
37002. Angular? n
37003. Angle Increment? 15.00000000000000000
37004. Arc Center? y
37005. Tangent? n
37006. Endpoint? y
37007. Perpendicular? n
37008. Intersection? y
37009. Nearest? n
37010. Midpoint? y
37011. Horizontal / Vertical? y
37012. Quadrant? n
37013. Temporary Midpoints? y
37014. Point? y
37015. Mesh Vertices? y
37016. Along Edges Only? y
37017. Default to Fast Point mode? y
37018. Enable power keys? y
37019. Vectors scale? 0.00000000000000000
37020. Allow pre-selection? y
37021. Temporary midpoints delay? 1
37022. Auto-highlight? y
37023. Solids by faces? n
37024. Auto-highlight delay index? 0
37025. Use stipple on solids/surfaces/meshes? y
37026. Use dashed on wireframe? y
37027. Use glow highlighting? y

[ARROW]
40001. Show ruler? y
40002. Ruler size? 35
40003. Arrow size? 64

[GNOMON]
41001. Selection mask? 65535
41002. Show ruler? y
41003. Ruler size? 30
41004. Gnomon size? 35
41005. Activate angular snap? y
41006. Angular increment (degrees)? 5.00000000000000000
41007. Show plane? n
41008. Show grid? y
41009. Plane size? 75
41010. Opacity? 22
41011. Change gnomon style based on 2D/3D Cplane? y

[PLANE GNOMON]
42001. Axes size? 48
42002. Opacity? 1.00000000000000000
42003. Show plane? y
42004. Only when highlighted? n
42005. Show grid? y
42006. Plane size? 1
42007. Opacity (relative to axes)? 0.63000000000000000
42008. Enable gnomon selection? y

[POLAR ARROW]
43001. Show ruler? y
43002. Ruler size? 35
43003. Arrow size? 120
43004. Activate angular snap? y
43005. Angular increment (degrees)? 5.00000000000000000

[TANGENT ARROW]
44001. Show ruler? y
44002. Ruler size? 35
44003. Arrow size? 120
44004. Activate angular snap? y
44005. Angular increment (degrees)? 5.00000000000000000

[DISPLAY OPTIONS]
45001. Operation type? y
45002. Machine? y
45003. List numbers? y
45004. Internal operation ID? n
45005. WCS? y
45006. Tool plane? y
45007. Comp / construction plane? n
45008. Operation comments? y
45009. Group comments? y
45010. Toolpath file name? y
45011. Program number? y
45012. Parameters? y
45013. Tool number? y
45014. Tool descriptor? y
45015. Geometry? y
45016. Geometry chain count? y
45017. Toolpath? y
45018. Toolpath size? y
45019. Toolpath generation time? n
45020. Move insert arrow? n
45021. Wireframe? n
45022. Wire frame color? 1
45023. Machining geometry? n
45024. Drive surfaces color? 1
45025. Avoidance geometry? n
45026. Check surfaces color? 1
45027. Prompt for toolpath deletion? y
45028. Toolpath display? n

[PLANES]
47001. Plane association? 2
47002. Planes work offset conflicts? 0
47003. Suppress planes work offset warning? n
47004. Always associate to selected geometry? y

[STOCK DIMENSIONS]
48001. Stock dimensions size? 20.00000000000000000
48002. Enable stock dimensions display? y
